<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas operativos</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/popper.js/dist/popper.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/normalize.css/normalize.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/master.css">
</head>
<body>

    <header class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Coneccion con maria db.</h2>
            </div>
            <div class="col">
                <h3 style="text-align: right;"><a href="/">Inicio</a></h3>
            </div>
        </div>
    </header>

    <br>

    <%-body -%>

    <br>

    <footer class="container-fluid footer">
        <p>Sistemas Operativos</p>
    </footer>

</body>
</html>