footer, header {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 99;
}
.footer {
    bottom: 0;
}
main {
    height: auto;
    padding-top: 2.25em;
    padding-bottom: 1.75em;
}
button {
    outline: none;
}
i {
    color: black;
}
tbody {
    font-size: 1.2em;
}
h3 a {
    color: white;
}
.contbtn {
    font-weight: bold;
}
table {
    text-align: right;
}